<?xml version="1.0" ?>
<robot name="simplified_urdf_test" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="simplified_urdf_test_silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="simplified_urdf_test_color0">
  <color rgba="0.965 0.965 0.953 1.0"/>
</material>

<material name="simplified_urdf_test_color1">
  <color rgba="0.91 0.678 0.137 1.0"/>
</material>

</robot>
